<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,th,td,tr{
        border: 1px solid black;
    }
</style>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>username</th>
            <th>password</th>
        </tr>
        <% for(user of users) {%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.email%></td>
                <td><%=user.password%></td> 
                <td>
                    <form method="get" action="/users/<%=user.id%>/edit">
                        <button>EDIT</button>
                    </form>
                </td>
            </tr>                
        <%}%>
    </table>
</body>
</html>

